{% extends 'MyAppApBundle::layout.html.twig' %}

{% block title %}Modifier client: {{ client.nom }} {% endblock %}

{% block content %}
<p><a href="{{ path('myapp_client_lister') }}"><img src="{{ asset('bundles/myappap/images/previous.png') }}"/><img src="{{ asset('bundles/myappap/images/user.png') }}"/></a></p>

{% if message %}
<p><img src="{{ asset('bundles/myappap/images/check.png') }}"/></p>
{% endif %}

 <form action="" method="POST" class="form-horizontal">
    <table>
        <tr>
            <td>{{ form_errors(form) }}</td>
        </tr>
        <tr>
            <td>{{ form_widget(form.titles) }}</td>
            <td>{{ form_widget(form.etat, { 'attr': {'class':'input-medium'} }) }}</td>
             <td>{{ form_widget(form.ancien, { 'attr': {'class':'input-small'} }) }}</td>
             <td>{{ form_widget(form.service, { 'attr': {'class':'input-small'} }) }}</td>

        </tr>
            <tr>
            <td>{{ form_widget(form.heure, { 'attr': {'class':'input-small'} }) }}</td>
            <td>{{ form_errors(form.heure, { 'attr': {'class':'input-small'} }) }}</td>
        </tr>
   </table>
   <br>     
   <table>
        <tr>
            <td>{{ form_widget(form.nom, { 'attr': {'placeholder': 'nom', 'class':'input-small'} }) }}</td>
            <td>{{ form_widget(form.prenom, { 'attr': {'placeholder': 'prenom', 'class':'input-small'} }) }}</td>
        </tr>
        <tr>
            <td>{{ form_widget(form.phoneNumber, { 'attr': {'placeholder': 'Tél','autocomplete':'off', 'class':'input-small phone'} }) }}</td>
            <td>{{ form_widget(form.phoneNumberCell, { 'attr': {'placeholder': 'Cell','autocomplete':'off', 'class':'input-small phone'} }) }}</td>
            <td>{{ form_widget(form.email, { 'attr': {'placeholder': 'Email', 'class':'input-medium'} }) }}</td>
        </tr>
    </table>
   <br>
   <table>
        <tr>
            <td>{{ form_widget(form.number, { 'attr': {'placeholder': 'num', 'class':'input-mini'} }) }}</td>
            <td>{{ form_widget(form.street, { 'attr': {'placeholder': 'rue', 'class':'input-medium'} }) }}</td>
               <td>
            {{ form_widget(form.city, { 'attr': {'class':'input-medium'} }) }}
            </td>
            <td>
            {{ form_widget(form.pc, { 'attr': {'placeholder': 'CP', 'class':'input-small'} }) }}
            </td>
            </tr>
               </table>
   <table>
                        <tr>
            <td>{{ form_widget(form.date, { 'attr': {'placeholder': 'Date', 'class':'input-small date'} }) }}</td>
            <td><input type="image" src="{{ asset('bundles/myappap/images/add.png') }}" title="Ajouter"/></td>
            </tr>
   </table>
   
    {{ form_rest(form) }}
        <br>
</form>
{% endblock %}