
    <table>           
        <tr>
            <td>
{% if message %}
                    <p><img src="{{ asset('bundles/myappap/images/check.png') }}"/></p>
{% endif %}
                    </td>
                </tr>

                <form action="" method="post" {{ form_enctype(form) }}>
                    <div class="error">
            {{ form_errors(form) }}
                        </div>

                        <tr>
                            <td>
            {{ form_errors(form.paiement) }}
            {{ form_widget(form.paiement) }}

                                </td>
                            </tr>
                            <tr>
                                <td>
                    {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
            {{ form_label(form.montant) }}
            {{ form_errors(form.montant) }}
            {{ form_widget(form.montant) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
            {{ form_errors(form.bilan) }}
            {{ form_widget(form.bilan) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

            {{ form_errors(form.note) }}
            {{ form_widget(form.note) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
      {{ form_rest(form) }}  
                                                    <input type="image" src="{{ asset('bundles/myappap/images/add.png') }}" />
                                                </td>
                                            </tr>
                                    </table>

                                </form>

                            </td>                
                        </tr>

                    </table>





                </div>
                <div class="modal-lightsoutCompta"></div> 



                <script type="text/javascript">
                $.fn.center = function () {
                        this.css("position","absolute");
                        this.css("top", ( jQuery(window).height() - this.height() ) / 2+jQuery(window).scrollTop() + "px");
                        this.css("left", ( jQuery(window).width() - this.width() ) / 2+jQuery(window).scrollLeft() + "px");
                        return this;
                      }
 
                    $(".modal-profileCompta").center();
 
                    $('.modal-lightsoutCompta').css("height", jQuery(document).height()); 
 
                    $('a[rel="modal-profileCompta"]').click(function() {
                        $('.modal-profileCompta').fadeIn("slow");
                        $('.modal-lightsoutCompta').fadeTo("slow", .9);
                    });
 
                    $('a.modal-close-profileCompta, .modal-lightsoutCompta').click(function() {
                        $('.modal-profileCompta').fadeOut("slow");
                        $('.modal-lightsoutCompta').fadeOut("slow");
                    });
                    </script>
