<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('myapp_production_booke') }}">Non booké</a></li>
        <li><a href="{{ path('myapp_production_lister') }}">Booké</a></li>
        <li><a href="{{ path('myapp_production_termine') }}">Terminé</a></li>
  </ul>
<div class="tab-content">

<table>
<tr>
{# sorting of properties based on query components #}
    <th>{{ pagination.sortable('Période', 'p.period')|raw }}</th>
      <th>{{ pagination.sortable('Mois', 'p.previsionDateProd')|raw }}</th>
    <th>{{ pagination.sortable('Rappel', 'p.dateProd')|raw }}</th>
    <th>{{ pagination.sortable('Nom', 'p.client.nom')|raw }}</th>
    <th>{{ pagination.sortable('Prénom', 'p.client.prenom')|raw }}</th>
    <th>{{ pagination.sortable('Tél.', 'p.client.phoneNumber')|raw }}</th>
    <th>Note</th>
    <th></th>
</tr>

{# table body #}
{% for p in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
     <td><b>{{ p.period }}:</b></td>
     <td>{{ p.previsionDateProd }}</td>
        <td>{{ p.dateProd|date('G:i') }}</td>
        <td>{{ p.client.nom|upper }}</td> 
        <td>{{ p.client.prenom|capitalize }} </td>
        <td>{{ p.client.phoneNumber }}</td>
        <td>{{ p.note|capitalize }} </td>
        <td><a href="{{ path('myapp_production_modifier', { 'id': p.id }) }}"><img src="{{ asset('bundles/myappap/images/pencil.png') }}" alt="Stats"/></a></td>
</tr>
{% else %}
<p>Aucune production n'a été trouvée.</p>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ pagination.render()|raw }}
</div>
  </div>
</div>
