<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
        <li><a href="{{ path('myapp_production_booke') }}">Non booké</a></li>
        <li class="active"><a href="{{ path('myapp_production_lister') }}">Booké</a></li>
        <li><a href="{{ path('myapp_production_termine') }}">Terminé</a></li>
  </ul>
<div class="tab-content">

<table>
<tr>
{# sorting of properties based on query components #}
    <th>{{ pagination.sortable('Date Prod.', 'p.dateProd')|raw }}</th>
    <th>{{ pagination.sortable('Arrivé entre', 'p.previsionHeureD')|raw }}</th>
    <th>{{ pagination.sortable('et', 'p.previsionHeureF')|raw }}</th>
    <th>{{ pagination.sortable('Nom', 'p.client.nom')|raw }}</th>
    <th>{{ pagination.sortable('Prénom', 'p.client.prenom')|raw }}</th>
    <th>{{ pagination.sortable('Tél.', 'p.client.phoneNumber')|raw }}</th>
    <th></th>
</tr>

{# table body #}
{% for p in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ p.dateProd|date('d/m/y') }}</td>
    <td>{{ p.previsionHeureD|date('G:i') }}</td>
    <td>{{ p.previsionHeureF|date('G:i') }}</td>
    <td><a href="{{ path('myapp_estimation_voirClient', { 'id': p.client.id }) }}">{{ p.client.nom }}</a></td>
    <td>{{ p.client.prenom }}</td>
    <td>{{ p.client.phoneNumber }}</td>
    <td><a href="{{ path('myapp_production_modifier', { 'id': p.id }) }}"><img src="{{ asset('bundles/myappap/images/pencil.png') }}" alt="Stats"/></a></td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ pagination.render()|raw }}
</div>
  </div>
</div>
