<div class="billLeft"> 
    <p>{% include 'MyAppApBundle:Comptabilite:voir_menu_total.html.twig' %}</p>
</div>

<div class="billRight"> 
    <table>
        <tr>
{# sorting of properties based on query components #}
            <th>{{ pagination.sortable('Date', 'c.created')|raw }}</th>
            <th>Type</th>
            <th>{{ pagination.sortable('Montant', 'c.montant')|raw }}</th>
        </tr>
        {% for c in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ c.created|date('d/m') }}</td>
            <td>{{ c.type.type }}</td>
            <td>{{ c.montant|number_format(2, ',', '.') }}$</td>
            <td><a href="{{ path('myapp_comptabilite_voir', { 'id': c.id }) }}">voir</a></td>
            {#<td><a href="{{ path('myapp_contrat_voir', { 'id': c.production.contrat.id }) }}">{{ c.production.contrat.id }}</a></td></td>  #}
        </tr>
        {% else %}

        <tr>
            <td>Aucun bill n'a été trouvé.</td>
        </tr>
        {% endfor %}
    </table>
        
    {# display navigation #}
    <div class="navigation">
        {{ pagination.render()|raw }}
    </div>
</div>

<!-- Modal Comptabilite -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ajout d'une facture:</h3>
  </div>       
    <div class="modal-body">
        <form action="{{ path('myapp_comptabilite_ajouter') }}" method="post" {{ form_enctype(form) }}>
    <table>           
        <tr>
            <td>
{% if message %}
                    <p><img src="{{ asset('bundles/myappap/images/check.png') }}"/></p>
{% endif %}
                    </td>
                </tr>

                    <div class="error">
            {{ form_errors(form) }}
                        </div>

                        <tr>
                            <td>
            {{ form_errors(form.paiement) }}
            {{ form_widget(form.paiement) }}

                                </td>
                            </tr>
                             <tr>
                            <td>
            {{ form_widget(form.date, { 'attr': {'placeholder': 'Date d', 'class':'input-medium date'} }) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                    {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
            {{ form_label(form.montant) }}
            {{ form_errors(form.montant) }}
            {{ form_widget(form.montant) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
            {{ form_errors(form.bilan) }}
            {{ form_widget(form.bilan) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

            {{ form_errors(form.note) }}
            {{ form_widget(form.note) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
      {{ form_rest(form) }}  
                                                    <input type="image" src="{{ asset('bundles/myappap/images/add.png') }}" />
                                                </td>
                                            </tr>
                                    </table>

                                </form>

    </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    <input type="text" class="btn btn-primary" value="Ajouter" title="Ajouter">
  </div>
</div>